Repository UPB-FILS-SdE2/upb-fils-sde2.github.io, pull requests merged in 2024-04, with the labels that each got.

#39 TP06
  docs/tp/06.md
Labels: tp

#41 Download pdfs for safari
  docs/cours/01.md
  docs/cours/02.md
  docs/cours/03.md
  docs/cours/04.md
  docs/cours/05.md
Labels: cours

#44 Second Homework Modifications
  docs/devoir/02.md
Labels: devoir

#45 Update error code for rm function
  docs/devoir/02.md
Labels: devoir

#46 Added TP7
  docs/tp/07.md
Labels: tp

#50 Cours 7
  docs/cours/06.md
  docs/cours/07.md
  static/cours/sde2_7.pdf
Labels: website, cours
