Repository UPB-FILS-SdE2/upb-fils-sde2.github.io, pull requests merged in 2024-05, with the labels that each got.

#52 Fixed Devoir3 deadline
  docs/devoir/03.md
Labels: devoir

#53 Added TP09
  docs/tp/08.md
  docs/tp/09.md
Labels: tp

#54 Cours 8
  docs/cours/07.md
  docs/cours/08.md
  static/cours/sde2_8.pdf
Labels: website, cours

#57 Rustyloader
  docs/devoir/04.md
  docs/devoir/images/so_seg.png
Labels: devoir
